
/* Extends */

%flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}


%flexbox-row {
    display: flex;
    align-items: center;
    flex-direction: row;

}


%flexbox-columna {
    display: flex;
    align-items: center;
    flex-direction: column;
}