

@import '../funciones/extends';
@import '../funciones/list';
@import '../funciones/mixins';

@import '../base/variables';



.img-carousel {
    width: 13vw; 
    position: relative;
    top: 4.5vw;
    left: 2vw;
}

.img-carousel-2 {
    width: 11vw; 
    position: relative;
    top: 4.5vw;
    left: 2vw;
}

.carousel-item {
    width: 40vw ;
    height: 20vw;
    background-color: rgb(255, 255, 255, 70%);
}

.carousel {
    width: 40vw;

}

.carousel-caption {
position: relative;
bottom: 9vw;
}

.carousel-caption-ec {
    bottom: 10vw;
    }

.carousel-caption-c {
    bottom: 6vw;
    }

    .carousel-caption-bp {
        bottom: 11vw;
        }
    



.subtitulo-area {
    font-size: 2vw;
    font-weight: nth($font-weight, 3);
    color: white;
}

.subtitulo-area-2 {
    font-size: 2vw;
    font-weight: nth($font-weight, 4);
    color: nth($color, 1);
}

.parrafo-area {
    font-size: 1vw;
    font-weight: nth($font-weight, 2);
    padding: 0 10vw;
}
